{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/style5.css' %}">
    < <title>THOR SOLUTIONS</title>
  <link href="{% static '/IMG/THOR.ico' %}" rel="shortcut icon" type="image/x-icon"/>
  </head>
  <body style="background-image: url('{% static '/IMG/stary.jpg' %}');">
    <header>
      <div class="navbar">
        <div class="navbar-left">
          <a href="#">THOR</a>
        </div>
          <div class="navbar-right">
            <a href="/Welcome">Home</a>
            <a href="/">Help</a>
          </div>
      </div>
    </header>
    <main>
      <form class="block" action="" method="post">
        {% csrf_token %}
        <h1>
            Edit Bug
        </h1>
        <label><h3>Bug Name</h3></label>
        <label><h5 class="la">{{Bug.BugName}}</h5></label>
        <label><h3>Task Description</h3></label>
        <label><h5 class="la">{{Bug.Description}}</h5></label>
        <label for="status"><h4>Status</h4></label>
        <select name="Bugstatus" id="Bugstatus" required>
            <option value="none" selected disabled hidden>-</option>
            <option value="In-Progress">In-Progress</option>
            <option value="Completed">Completed</option>
            <option value="Pending">Pending</option>
            <option value="Over-Due">Over-Due</option>
            <option value="Not-Started">Not-Started</option>
            <option value="Issue">Issue</option>
          </select>
        <input type="text" name="Bugstatdes" placeholder="Status Description" id="Bugstatdes" maxlength="800" required>
        <label><h4>Araised in</h4></label>
        <label><h5 class="la">{{Bug.In_Task}}</h5></label>
        <label><h7>Upload your Bug File</h7></label>
        <input type="file" name="BugFile" id="BugFile" value="Bug-FILE">
        <input type="submit" name="" value="Save Bug">
      </form>
    </main>
    <script src="scripts.js"></script>
  </body>
</html>