{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/style5.css' %}">
     <title>THOR SOLUTIONS</title>
  <link href="{% static '/IMG/THOR.ico' %}" rel="shortcut icon" type="image/x-icon"/>
  </head>
  <body style="background-image: url('{% static '/IMG/stary.jpg' %}');">
    <header>
      <div class="navbar">
        <div class="navbar-left">
          <a href="#">THOR</a>
        </div>
          <div class="navbar-right">
            <a href="/Welcome">Home</a>
            <a href="/login.html">Login</a>
            <a href="/">Help</a>
          </div>
      </div>
    </header>
    <main>
      <form class="block" method="post" action="CreateProjects" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>
            Create Project
        </h1>
        <input type="text" name="Projectname" placeholder="Project Name" id="Projectname" required>
        <input type="Description" name="Description" placeholder="Description" id="Description" maxlength="256" required>
        <input type="text" name="Duedate" placeholder="Due Date (DD-MM-YYYY)" id="DueDate" onfocus="(this.type='date')" required>
        <label><h4>Assigned to</h4></label>
        <select name="assignedMan" id="assignedMan" required>
          <option value="none" selected disabled hidden>-</option>
          {% for i in em %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
         <label><h7>Upload your Task File</h7></label>
        <input type="file" name="File" id="File">
        <input type="submit" name="" value="Create Project">
      </form>
    </main>
  </body>
</html>