{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/style4.css' %}">
      <title>THOR SOLUTIONS</title>
  <link href="{% static '/IMG/THOR.ico' %}" rel="shortcut icon" type="image/x-icon"/>
  </head>
    <body style="background-image: url('{% static '/IMG/stary.jpg' %}');">
        <header>
            <div class="navbar">
            <div class="navbar-left">
                <a href="#">THOR</a>
            </div>
                <div class="navbar-right">
                <a href="/Welcome">Home</a>
                <a>Hello {{name}}</a>
                <a href="/login">Logout</a>
                <a href="/">Help</a>
                </div>
            </div>
        </header>
        <div class="block">
            <h1>
                ACTIVE TASK LIST
            </h1>
            </div>
        <main>
            <div class="block1">
                {% if x != 0 %}
                    <table style="width:relative">
                        <tr>
                        <th>SNo</th>
                        <th>Task-Name</th>
                        <th>Description</th>
                        <th>Due-Date</th>
                        <th>Employee-Assigned</th>
                        <th>Status</th>
                        <th>Status-Description</th>
                        <th>Status-Update</th>
                        <th colspan="2">Action</th>
                        </tr>
                        {% for i in task %}
                        <tr style="height:relative">
                            {% for j in i %}
                            <td style="text-align:center">{{j}}</td>
                            {% endfor %}
                            <td style="text-align:center"><a href="#">Update</a></td>
                            <td style="text-align:center"><a href="/deleteT/{{i.0}}">Delete</a></td>
                            <td style="text-align:center"><a href="editT/{{i.0}}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h1>No ACtive Tasks</h1>
                {% endif %}
            </div>
        </main>
    </body>
</html>


