{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="{% static '/CSS/style12.css' %}">
  <title>THOR SOLUTIONS</title>
  <link href="{% static '/IMG/THOR.ico' %}" rel="shortcut icon" type="image/x-icon"/>
</head>
<body style="background-image: url('{% static '/IMG/stary.jpg' %}');">
    <header>
      <div class="navbar">
        <div class="navbar-left">
          <a href="#">THOR</a>
        </div>
          <div class="navbar-right">
            <a href="/Welcome">Home</a>
            <a href="/logout">Logout</a>
            <a href="/">Help</a>
          </div>
      </div>
    </header>
    <main>
      <div class="container">
          <h1>THOR SOLUTIONS</h1>
      </div>
    <div class="container">
      <h2>WELCOME {{name}}</h2>
    </div>
    <div class="Options">
        <button type="button" onclick="ReportBug()">Report Bug</button>
        <button type="button" onclick="EditBug()">Bug Reports</button>
        <button type="button" onclick="ViewABugs()">Active Bugs</button>
        <button type="button" onclick="ViewNATask()">In-Active Bugs</button>
        <button type="button" onclick="ViewFiles()">Files</button>
        <button type="button">TASKS</button>
        <button type="button">TASKS</button>
      </div>
  </main>
  <script>
function ReportBug() {
  location.replace("/ReportBug")
}
function EditBug() {
  location.replace("/ViewBugs")
}
function ViewABugs() {
  location.replace("/ViewActiveBugs")
}

function ViewFiles() {
  location.replace("/ViewFiles")
}
</script>
</body>
</html>