table, td, th {  
    font-family: Arial;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    font-size : relative;
    margin-left: 10px;
    margin-right: 10px;
  }
  th {
    text-align: center;
    padding: 8px;
  }

  td a{
  text-align:
  }
 td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  tr:nth-child(odd) {background-color: black; color: white;}
  tr:nth-child(even) a {color: black; }
  tr:nth-child(odd) a {color: white;}
  tr:nth-child(even) a:hover {background-color: black; color: white; }
  tr:nth-child(odd) a:hover {background-color: white; color: black; }

td:nth-child(1){
text-align: center;
}

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./stary.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  .navbar {
    overflow: hidden;
    background-color: none;
  }
  
  .navbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .navbar-right{
    color: white;
    font-family: Arial;
    font-weight: lighter;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  
  .navbar h2{
    font-family: Arial;
    font-weight: lighter;
    color: white;
  }
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .navbar-right {
    float: right;
  }

  .navbar-left {
    float: left;
  }
.container{
    width: 100vw;
    display: flex;
    justify-content: center;
	  background-position: top center;
	  position: relative;
	  z-index: 1;
}

.container h1{
    padding: 10px;
    font-weight: lighter;
    color: #ddd;
    text-decoration: wavy;

}

.container h2{
  padding: 10px;
  font-weight: lighter;
  color: #ddd;
  text-decoration: wavy;
}

.container .form1{
  justify-content: center;
}

.container .form1 h3{
    padding: 10px;
    font-weight: lighter;
    color: #ddd;
    text-decoration: wavy;
}

.block{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0);
    text-align: center;
}
.block{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
}
.block1{
    width: 100dvw;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0);
    text-align: center;
}
.block1{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 500;
}
.block input[type="text"],.block input[type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration-color: black;
    border: 3px solid black;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    transition: 0.25px;
}
.block input[type="text"]:focus,.block input[type="password"]:focus{
    width: 270px;
    border-color: white;
}

.block input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid white;
    padding: 14px 35px;
    width: 150px;
    outline: none;
    color: white;
    transition: 0.25px;
    cursor: pointer;
}

.block input[type="submit"]:hover{
    background: black;

}

.block h1{
    color: whitesmoke;
}

.block1 h1{
    color: whitesmoke;
}