body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("{% static '/IMG/stary.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;


  }

  .navbar {
    overflow: hidden;
    background-color: none;
  }

  .navbar a {
    border-color: rgba(0, 0, 0, 0);
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) white rgba(0, 0, 0, 0);
    color: white;
  }

  .navbar h2{
    font-family: Arial;
    font-weight: lighter;
    color: white;
  }
  .navbar a.active {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) white rgba(0, 0, 0, 0);
    background-color: #04AA6D;
    color: white;
  }

  .navbar-right {
    float: right;
  }

  .navbar-left {
    float: left;
  }

  .navbar-right a.active {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) white rgba(0, 0, 0, 0);
    background-color: #04AA6D;
    color: white;
  }
 .navbar-right a:hover {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) white rgba(0, 0, 0, 0);
    color: white;
  }
.container{
    width: 100vw;
    display: flex;
    justify-content: center;
	  background-position: top center;
	  position: relative;
	  z-index: 1;
}

.container h1{
    padding: 10px;
    font-weight: lighter;
    color: #ddd;
    text-decoration: wavy;

}
.Options{
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position: top center;
  position: relative;
  z-index: 1;
}
.Options button[type="button"]{
  /*border: 0;*/
  border-color: rgba(0, 0, 0, 0);
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  text-decoration-color: black;
  /*border: 3px solid black;*/
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: white;
  transition: 0.25px;
}

.Options button[type="button"]:focus{
  width: 200px;
  border-radius: 10px;
  /*border-color: white;*/
}

.Options button[type="button"]:hover{
  width: 170px;
  text-align: center;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) white rgba(0, 0, 0, 0);
  /*background: white;*/
  color: white;
}



.container h2{
  padding: 10px;
  font-weight: lighter;
  color: #ddd;
  text-decoration: wavy;
}

.form1{
  justify-content: center;
}